.adm_body {
  background:$contentColor;
  a {
    color:$linkColor;
  }
}
.blind {
  @include blind();
}

// content
.adm_wrap_content {
  margin:0 $marginContentRight 0 ($widthLnb + $marginContentLeft);
  min-width:$widthContentMin - $widthLnb - $marginContent;
  .adm_body & {
    @include fontDefault();
  }
  .page_header {
    margin:40px 0 22px 0;
    .tit_page {
      font-size:34px;
      font-weight:normal;
      letter-spacing:$letterspacing * 3;
      line-height:45px;
      .tit_page_sub {
        display:inline-block;
        color:$fontColor2;
        font-size:$fontSizeM;
        font-weight:bold;
        letter-spacing:$letterspacing;
        line-height:$lineheight;
        vertical-align:middle;
        &:before {
          display:inline-block;
          margin:0 15px 0 20px;
          @include size(1px, 13px);
          background:rgba(68,68,68,0.2);
          content:"";
        }
      }
    }
    .info_addition {
      float:left;
      margin:16px 0 0 40px;
      font-size:$fontSizeXL;
      font-weight:bold;
      line-height:20px;
      a {
        text-decoration:underline;
      }
    }
    .create_step {
      margin-top:40px;
      @include clearfix();
      li {
        position: relative;
        float:left;
        @include size(330px, 41px);
        line-height:41px;
        padding-left:30px;
        padding-right:30px;
        border:1px solid $borderColorButton;
        box-sizing:border-box;
        span{
          margin-right:10px;
        }
        &.on {
          border-color:#2e3336;
          background:#fff;
          font-weight:bold;
        }
        &:nth-child(1) {
          padding-left:24px;
        }
        &:nth-child(1).on:after {
          @include afterArrow(45deg);
        }
        &:nth-child(2):before {
          @include nonBeforeArrow(45deg);
        }
        &:nth-child(2):after {
          @include nonAfterArrow(45deg);
        }
        &:nth-child(2).on:before {
          @include beforeArrow(45deg);
        }
        &:nth-child(2).on:after {
          @include afterArrow(45deg);
        }
        &:nth-child(3) {
          width:332px;
        }
        &:nth-child(3).on:before {
          @include beforeArrow(45deg);
        }
      }
    }
  }
  .tit_section {
    margin:50px 0 10px;
    font-weight:normal;
    &:first-of-type {
      margin-top:0;
    }
  }
  .adm_content {
    $marginContentTop:$heightPageTitle;
    position:relative;
    padding:20px;
    min-height:calc(100vh - #{$marginContentTop} - 20px);
    box-sizing:border-box;
    font-size:$fontSizeM;
    background:$white;
  }

  /* lnb folding
  .folding & {
    margin-left:$widthLnbFolding + $marginContentLeft;
  }

  /* no lnb
  .no_lnb & {
    margin-left:$marginContentRight;
    min-width:$widthContentMin - ($marginContentRight * 2);
  }*/
}
.wrap_board_top {
  @include clearfix();
  margin-bottom:9px;
  height:$sizeM;
  .cnt_article,
  .list_aritcle {
    margin-top:$sizeM - 17;
  }
  .cnt_article {
    float:left;
    margin-right:20px;
    line-height:$lineheight;
    strong {
      color:$primaryColorOrange;
      font-size:$fontSizeL;
    }
  }
}

.wrap_unit {
  .unit {
    display:inline-block;
    margin:6px 4px;
    vertical-align:top;
    &:first-child {
      margin-left:0;
    }
    &:not(.unit_title) {
      color:$fontColor4;
    }
  }
}

/* homepage setting content */
.adm_wrap_content {
  .adm_body_setting & {
    margin:$heightHeader 0 0 0;
    min-width:$widthContentMin;
  }

  // lnb folding
  .folding.adm_body_setting & {
    margin-left:0;
  }
}
.adm_content_setting {
  overflow-x:hidden;
  .container {
    .breadcrumb {
      position:static;
      margin-top:$heightHeader;
    }
    .wrap_tit {
      margin-top:0;
    }
  }
}

/* list top filter */
.area_filter {
  margin-top:20px;
  padding:38px 31px;
  background:$primaryColorGray;
  .row {
    @include clearfix();
    margin-top:30px;
    margin-right:28px;
    &:first-child {
      margin-top:0;
    }
  }
  .title {
    width:76px;
    margin-right:17px;
    float:left;
    color:$white;
    font-size:$fontSizeXS;
    font-weight:bold;
    letter-spacing:$letterspacing;
    line-height:32px;
    text-align:right;
  }
  .option {
    width:391px;
    overflow:hidden;
    float:left;
  }
  .tilde {
    width:10px;
    height:32px;
    margin:0 8px;
    color:$white;
    line-height:32px;
  }
  .btn_reset_data {
    margin-left:10px;
  }
}
.list_recruit {
  .row {
    .btn_down {
      margin-bottom:10px;
    }
  }
}
















// 로고 이미지 변경
.upload_logo {
  @include clearfix();
  .preview {
    overflow:hidden;
    float:left;
    position:relative;
    @include size(230px, 148px);
    border:1px solid #dadada;
    .thumb {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;
      max-width:200px;
      max-height:40px;
    }
  }
  .desc {
    float:left;
    margin-left:28px;
    width:272px;
    .info_file {
      margin-top:10px;
      color:$fontColor4;
      font-size:$fontSizeXS;
      line-height:21px;
      .file_name {
        @include ellipsis();
        color:$fontColor;
        b {
          letter-spacing:normal;
        }
      }
      .file_size {
        color:$fontColor2;
        .bar {
          @include bar(11px, #e6e7eb);
          margin:7px 4px 0;
        }
      }
    }
  }
}
// 내 기업 관리
.my_company {
  .adm_tbl_form {
    .adm_typo {
      width:230px;
      &.inp_mail {
        width:157px;
      }
    }
    .btn_password {
      margin:-10px 0 0 24px;
    }
    .txt_at {
      display:inline-block;
      padding:0 7px;
    }
  }
  .upload_logo {
    .btn_del {
      position:absolute;
      top:8px;
      right:8px;
    }
  }
  >.type_primary {
    display:block;
    margin:94px auto 0;
    width:182px;
  }
}