.adm_body {
  background:$contentColor;
  a {
    color:$linkColor;
  }
}
.blind {
  @include blind();
}

// content
.adm_wrap_content {
  margin:0 $marginContentRight 0 ($widthLnb + $marginContentLeft);
  min-width:$widthContentMin - $widthLnb - $marginContent;
  .adm_body & {
    @include fontDefault();
  }
  .adm_content {
    $marginContentTop:$heightPageTitle;
    position:relative;
    min-height:calc(100vh - #{$marginContentTop} - 20px);
    box-sizing:border-box;
    font-size:$fontSizeM;
    background:$white;
  }
  .page_header {
    margin:40px 0 22px 0;
    .tit_page {
      font-size:34px;
      font-weight:normal;
      letter-spacing:$letterspacing * 3;
      line-height:45px;
      .txt_page_sub {
        display:inline-block;
        color:$fontColor2;
        font-size:$fontSizeM;
        font-weight:bold;
        letter-spacing:$letterspacing;
        line-height:$lineheight;
        vertical-align:middle;
        &:before {
          display:inline-block;
          margin:0 15px 0 20px;
          @include size(1px, 13px);
          background:rgba(68,68,68,0.2);
          content:"";
        }
      }
    }
    .info_addition {
      float:left;
      margin:16px 0 0 40px;
      font-size:$fontSizeXL;
      font-weight:bold;
      line-height:20px;
      a {
        text-decoration:underline;
      }
    }
  }
  .tit_section {
    margin:50px 0 10px;
    font-weight:normal;
    &:first-of-type {
      margin-top:0;
    }
  }
  .txt_sub {
    font-size:$fontSizeXS;
    line-height:$lineheight;
    >.emph {
      color:$fontColor6;
    }
  }

  /* lnb folding
  .folding & {
    margin-left:$widthLnbFolding + $marginContentLeft;
  }*/

  // no lnb
  .no_lnb & {
    margin:0;
    min-width:$widthContentMin - ($marginContentRight * 2);
    .adm_content {
      min-height:calc(100vh - 92px);
      background:none;
    }
    .adm_footer {
      padding:38px 0;
      color:$fontColor4;
      font-size:12px;
      line-height:16px;
      text-align:center;
    }
  }
}

.wrap_board_top {
  @include clearfix();
  margin-bottom:12px;
  /*
  .cnt_article,
  .list_aritcle {
    margin-top:$sizeM - 17;
  }
  .cnt_article {
    float:left;
    margin-right:20px;
    line-height:$lineheight;
    strong {
      color:$primaryColorOrange;
      font-size:$fontSizeL;
    }
  }*/
}
/*
.wrap_unit {
  .unit {
    display:inline-block;
    margin:6px 4px;
    vertical-align:top;
    &:first-child {
      margin-left:0;
    }
    &:not(.unit_title) {
      color:$fontColor4;
    }
  }
}*/

/* homepage setting content
.adm_wrap_content {
  .adm_body_setting & {
    margin:$heightHeader 0 0 0;
    min-width:$widthContentMin;
  }

  // lnb folding
  .folding.adm_body_setting & {
    margin-left:0;
  }
}
.adm_content_setting {
  overflow-x:hidden;
  .container {
    .breadcrumb {
      position:static;
      margin-top:$heightHeader;
    }
    .wrap_tit {
      margin-top:0;
    }
  }
}*/

// 응시자 관리
.area_filter {
  margin-top:20px;
  padding:38px 31px;
  background:#41464c;
  .row {
    @include clearfix();
    margin-top:30px;
    margin-right:28px;
    min-width:968px;
    &:first-child {
      margin-top:0;
    }
  }
  .title {
    width:76px;
    margin-right:17px;
    float:left;
    color:$white;
    font-size:$fontSizeXS;
    font-weight:bold;
    letter-spacing:$letterspacing;
    line-height:32px;
    text-align:right;
  }
  .option {
    width:391px;
    overflow:hidden;
    float:left;
  }
  .tilde {
    width:10px;
    height:32px;
    margin:0 8px;
    color:$white;
    line-height:32px;
  }
  .btn_reset_data {
    margin-left:10px;
  }
}
.list_recruit {
  padding:20px;
  .row {
    .btn_down {
      margin-bottom:10px;
    }
  }
}

// 로그인
.adm_wrap_login {
  text-align:center;
  background-image:url($imageVqBg + "bg_login_left.png"), url($imageVqBg + "bg_login_right.png"), url($imageVqBg + "bg_login_top_right.png");
  background-position:0 100%, 100% 100%, 95% 0;
  background-repeat:no-repeat;
  .adm_content {
    .logo_saramin {
      position:absolute;
      top:30px;
      left:40px;
    }
    .tit_fit {
      padding-top:48px;
      font-size:$fontSize2XL;
      line-height:59px;
      letter-spacing:4px;
    }
    .txt_fit {
      display:block;
      padding-top:150px;
      color:$fontColor9;
      font-size:$fontSizeM;
      line-height:20px;
      letter-spacing:0;
      >strong {
        display:block;
        padding-top:9px;
        font-size:$fontSizeXL;
        line-height:33px;
      }
    }
    .wrap_login {
      overflow:hidden;
      margin:50px auto 0;
      width:378px;
      .login_input {
        margin-top:6px;
        border:1px solid $borderColor;
        .inp_txt {
          padding:0 18px;
          @include size($full, 48px);
          border:0;
          box-sizing:border-box;
          font-size:$fontSize2XS;
          line-height:18px;
          background:$white
        }
      }
      .adm_btn_login {
        margin-top:20px;
        @include size($full, 60px);
        font-size:$fontSizeL+1;
        font-weight:bold;
      }
    }
    .info_login {
      padding:28px 0 110px;
      .txt_info {
        padding-top:8px;
        color:$fontColor3;
        font-size:$fontSizeXS;
        line-height:$lineheight;
        .adm_btn_text {
          color:$primaryColor;
        }
      }
    }
  }
}

// 로고 이미지 변경
.upload_logo {
  @include clearfix();
  .preview {
    overflow:hidden;
    float:left;
    position:relative;
    @include size(230px, 148px);
    border:1px solid #dadada;
    box-sizing:border-box;
    .thumb {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;
      max-width:200px;
      max-height:40px;
    }
  }
  .desc {
    float:left;
    margin-left:28px;
    width:272px;
    .info_file {
      margin-top:20px;
      color:$fontColor4;
      font-size:$fontSizeXS;
      line-height:22px;
      .file_name {
        @include ellipsis();
        color:$fontColor;
        b {
          letter-spacing:normal;
        }
      }
      .file_size {
        color:$fontColor2;
        .bar {
          @include bar(11px, #e6e7eb);
          margin:7px 4px 0;
        }
      }
    }
  }
}

// 내 기업 관리
.my_company {
  padding:20px;
  .adm_tbl_form {
    .adm_typo {
      width:230px;
      &.inp_mail {
        width:157px;
      }
    }
    .txt_message {
      padding-top:11px;
    }
    .btn_password {
      margin:-10px 0 0 24px;
    }
    .txt_at {
      display:inline-block;
      padding:0 7px;
    }
  }
  .upload_logo {
    .btn_del {
      position:absolute;
      top:8px;
      right:8px;
    }
  }
  .adm_wrap_btns {
    .adm_btn_l {
      width:182px;
      font-weight:bold;
    }
  }
}

// 채용 검사 생성
.create_step {
  padding:20px 0;
  background:$contentColor;
  @include clearfix();
  li {
    float:left;
    position: relative;
    padding-left:30px;
    padding-right:30px;
    @include size(330px, 41px);
    border:1px solid $borderColorButton;
    box-sizing:border-box;
    color:$fontColor2;
    line-height:41px;
    .step {
      margin-right:10px;
      letter-spacing:0;
    }
    &.on {
      border-color:#2e3336;
      background:#fff;
      font-weight:bold;
    }
    &:before {
      @include nonBeforeArrow(45deg);
    }
    &:after {
      @include nonAfterArrow(45deg);
    }
    &.on:before {
      @include beforeArrow(45deg);
    }
    &.on:after {
      @include afterArrow(45deg);
    }
    &:first-child {
      padding-left:24px;
    }
    &:first-child:before {
      display:none;
    }
    &:first-child.on:before {
      display:none;
    }
    &:first-child.on:after {
      @include afterArrow(45deg);
    }
    &:last-child {
      width:332px;
    }
    &:last-child.on:before {
      @include beforeArrow(45deg);
    }
    &:last-child:after {
      display:none;
    }
    &:last-child.on:after {
      display:none;
    }

    /*&:nth-child(1).on:after {
      @include afterArrow(45deg);
    }
    &:nth-child(2):before {
      @include nonBeforeArrow(45deg);
    }
    &:nth-child(2):after {
      @include nonAfterArrow(45deg);
    }
    &:nth-child(2).on:before {
      @include beforeArrow(45deg);
    }
    &:nth-child(2).on:after {
      @include afterArrow(45deg);
    }
    &:nth-child(3) {
      width:332px;
    }
    &:nth-child(3).on:before {
      @include beforeArrow(45deg);
    }*/
  }
}
.create_form {
  padding:20px;
  .adm_tbl_form {
    padding:20px;
    .adm_typo {
      width:230px;
    }
    .adm_chk {
      min-width:97px;
    }
    .txt_message {
      display:inline-block;
      padding-left:10px;
    }
    .period {
      .type_calendar {
        width:130px;
      }
      .adm_sel {
        margin:0 2px;
        width:64px;
      }
      .txt_dash {
        display:inline-block;
        padding:0 7px 0 5px;
      }
    }
    .part {
      .adm_sel {
        margin-right:4px;
        width:120px;
      }
      .adm_typo {
        width:430px;
      }
    }
  }
  .regist_file {
    .group_button {
      padding-bottom:10px;
      .adm_btn_l {
        width:140px;
      }
    }
    .txt_sub {
      padding-top:6px;
    }
  }
  .regist_list {
    margin-left:-20px;
    padding-top:50px;
    width:822px;
    .wrap_board_top {
      padding-left:20px;
    }
    .wrap_board_regist {
      position:relative;
      margin-top:12px;
      border-top:1px solid $borderColor2;
      .scroll {
        overflow:hidden;
        overflow-y:auto;
        width:839px;
        max-height:569px;
      }
      &:after {
        position:absolute;
        left:0;
        bottom:0;
        @include size($full, 1px);
        border-top:1px solid $borderColor2;
        background:$white;
        content:"";
      }
    }
    .btn_line_add {
      margin:24px 0 0 20px;
      @include size(802px, 32px);
      border:1px solid $borderColor;
      font-size:12px;
      background:$lightGray;
    }
  }
  .step_complete {
    display:table;
    @include size($full, 508px);
    border-bottom:1px solid $lightGray;
    text-align:center;
    >.inner {
      display:table-cell;
      vertical-align:middle;
    }
    .txt_complete {
      display:block;
      font-size:22px;
      line-height:29px;
      >span {
        display:block;
        padding-bottom:4px;
        font-size:$fontSize2M;
        font-weight:normal;
      }
      >.ico_complete {
        display:block;
        position:relative;
        margin:0 auto 23px;
        @include size(50px);
        border:3px solid $primaryColor;
        border-radius:50px;
        box-sizing:border-box;
        &:before, &:after {
          position:absolute;
          width:3px;
          border-radius:10px;
          background:$primaryColor;
          content:"";
        }
        &:before {
          top:20px;
          left:13px;
          height:14px;
          @include prefix(transform, rotate(-45deg), webkit ms);
        }
        &:after {
          top:11px;
          left:25px;
          height:25px;
          @include prefix(transform, rotate(45deg), webkit ms);
        }
      }
    }
    .wrap_agree {
      padding:24px 0 27px;
      .desc_terms {
        margin:0 auto;
        padding:15px 21px;
        @include size(500px, 118px);
        border:1px solid $borderColor;
        box-sizing:border-box;
        color:$fontColor4;
        font-size:$fontSizeXS;
        line-height:$lineheight;
        text-align:left;
        background:$secondaryColor;
      }
      .adm_chk {
        margin-top:24px;
      }
      +.adm_btn_l {
        font-weight:bold;
      }
    }
    +.adm_wrap_btns {
      padding:40px 0;
    }
  }
  .adm_wrap_btns {
    .adm_btn_l {
      width:182px;
      &[class*="type_"] {
        font-weight:bold;
      }
    }
  }
}
