.adm_modal {
  position:absolute;
  top:0;
  left:0;
  width:$full;
  @include fontDefault();
  font-size:$fontSizeM;
  &:after {
    display:block;
    content:"";
    @include bgModal($black, 0.65);
  }
  > .inner {
    position:relative;
    z-index:$zindexPopupInner;
    margin:12% auto 0;
    padding-top:28px;
    width:$sizePopupL;
    box-sizing:border-box;
    background:$white;
  }
  &.size_m {
    > .inner {
      width:$sizePopupM;
    }
  }
  &.size_s {
    > .inner {
      width:$sizePopupS;
    }
  }
  .tit_modal {
    margin:0 $marginContentPopup $marginContentPopup;
    font-size:27px;
    letter-spacing:$letterspacing2S;
    line-height:36px;
  }
  .txt_modal {
    font-size:$fontSizeXS;
    >.emph {
      color:$fontColor6;
    }
  }
  .content_modal {
    @include clearfix();
    padding:25px $marginContentPopup;
    line-height:$lineheight;
    &.type_full {
      padding:0;
    }
    &.allow_scroll {
      overflow-y:auto;
      padding-right:0;
      height:330px;
    }
  }
  .content_modal_bottom {
    margin-top:$marginContentPopup;
    padding:0 $marginContentPopup;
    height:102px - $marginContentPopup;
    text-align:center;
    .adm_btn_l {
      width:182px;
      font-weight:bold;
    }
  }
  .btn_close_modal {
    position:absolute;
    top:28px;
    right:28px;
    @include size(22px);
    background:url($imageVqIco + "ico_close_modal.png") no-repeat;
  }
}

.adm_popup {
  width:$full;
  @include fontDefault();
  font-size:$fontSizeM;
  > .inner {
    margin:0 auto;
    padding-top:50px;
    width:$sizePopupL;
    box-sizing:border-box;
    background:$white;
  }
  .tit_popup {
    margin:0 $marginContentPopup $marginContentPopup;
    font-size:27px;
    letter-spacing:$letterspacing2S;
    line-height:36px;
  }
  .txt_popup {
    font-size:$fontSizeXS;
    >.emph {
      color:$fontColor6;
    }
  }
  .content_popup {
    @include clearfix();
    line-height:$lineheight;
  }
  .content_popup_bottom {
    margin-top:$marginContentPopup;
    padding:0 $marginContentPopup;
    height:102px - $marginContentPopup;
    text-align:center;
  }
}

// 로고 설정
.lpop_upload_logo {
  .upload_logo {
    padding:0 $marginContentPopup;
    .preview {
      @include size(346px, 134px);
      background:$secondaryColor;
    }
    .desc {
      margin-left:21px;
      line-height:23px;
      .adm_btn_m {
        width:$full;
      }
      .group_button {
        .btn_del {
          width:50px;
          & + .btn_file {
            width:214px;
          }
        }
      }
      .info_file {
        margin-top:12px;
      }
    }
  }
}

// 응시자 리스트
.lpop_list {
  .dashboard {
    padding:0 $marginContentPopup;
    .box {
      margin-top:14px;
      padding:15px;
      border:1px solid $borderColor;
      color:$fontColor;
      font-size:$fontSizeM;
      text-align:center;
      background:$secondaryColor;
    }
    .info {
      display:inline-block;
      padding:0 22px 0 26px;
      border-left:1px solid $borderColor;
      >dt,
      >dd{
        display:inline-block;
        padding:0 4px;
        .num {
          color:$primaryColor;
        }
      }
      &:first-of-type {
        border-left:0;
      }
    }
  }
  .wrap_board_top {
    margin:17px 0 12px;
    padding:0 $marginContentPopup;
    .adm_sel {
      width:120px;
    }
    .search_area {
      display:inline-block;
      margin-left:4px;
      .adm_typo{
        float:left;
        width:219px;
      }
      .adm_btn_m {
        float:left;
      }
    }
  }
}

// 종합결과다운
.lpop_download {
  >.inner{
    padding:70px 0 20px;
  }
  .tit_modal {
    margin-bottom:40px;
    text-align:center;
  }
}

// 문자발송 완료
.lpop_send_sms {
  .tit_modal {
    margin:15px 0 40px;
    text-align:center;
  }
}

// 비밀번호 변경
.lpop_login {
  .txt_login {
    display:block;
    padding:20px 0 10px;
    font-size:$fontSize2L+1;
    line-height:30px;
    text-align:center;
  }
}